{% extends "base.html.j2" %}
{% block main %}
<article class="post">
  <div class="heading">
    <h1>{{ page.title }}</h1>
    {% if page.get('date_display') %}<span class="date">{{ page.date_display }}</span>{% endif %}
    {% if page.get('description_html') or page.get('description') %}<p class="description">{{ page.get('description_html') or page.description }}</p>{% endif %}
  </div>
  <div class="post-content">{{ content_html }}</div>
</article>
{% if site.get('utterances_repo') %}
<section class="comments">
  <script src="https://utteranc.es/client.js"
          repo="{{ site.utterances_repo }}"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async></script>
</section>
<script>
  (function () {
    var theme = localStorage.getItem('theme') || 'light';
    var s = document.querySelector('script[src="https://utteranc.es/client.js"]');
    if (s && theme !== 'light') s.setAttribute('theme', 'github-dark');
  })();
</script>
{% endif %}
{% endblock %}
